{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-info">

            {#<div class="sf-toolbar-info-piece"><b>Defined messages</b><span class="sf-toolbar-status">{{ collector.data.defined }}</span></div>#}
            {#<div class="sf-toolbar-info-piece"><b>Missing messages</b><span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.data.missing }}</span></div>#}
            {#<div class="sf-toolbar-info-piece"><b>Fallback messages</b><span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.data.fallback }}</span></div>#}
            {#<hr/>#}
            <div class="sf-toolbar-info-piece"><b>Translations</b><span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.data.translations|length }}</span></div>
            <hr/>
            {% for domain, messages in collector.data.translations_found %}
            <div class="sf-toolbar-info-piece"><b>{{ domain }}</b><span class="sf-toolbar-status sf-toolbar-status-green">{{ messages|length }}</span></div>
            {% endfor %}
            {% for domain, messages in collector.data.translations_fallback %}
            <div class="sf-toolbar-info-piece"><b>{{ domain }}</b><span class="sf-toolbar-status sf-toolbar-status-yellow">{{ messages|length }}</span></div>
            {% endfor %}
            {% for domain, messages in collector.data.translations_missing %}
            <div class="sf-toolbar-info-piece"><b>{{ domain }}</b><span class="sf-toolbar-status sf-toolbar-status-red">{{ messages|length }}</span></div>
            {% endfor %}
        </div>
        <div class="sf-toolbar-icon">
            <a href="{{ path('_profiler', { 'token': token, 'panel': name }) }}" target="_blank">
                <span class="icon">
                    {{ include('@Translation/Icon/translator.svg') }}
                </span>
                <span class="sf-toolbar-value">Translations DB</span>
                {#todo : missing count need to rework#}
                {% if collector.data.translations_missing|length > 0 %}
                    <span class="sf-toolbar-status sf-toolbar-status-red ">
                        {#{{ collector.data.translations_missing|length }}#}
                        missing
                    </span>
                {% endif %}
            </a>
        </div>
    </div>

{% endblock %}


{% block menu %}
    <span class="label">
        <span class="icon">
            {{ include('@Translation/Icon/translator.svg') }}
        </span>
        <strong>Translations DB</strong>
        {#<span class="count">#}
            {#<span>0</span>#}
        {#</span>#}
    </span>
{% endblock %}

{% block panel %}
    <h2>Translations DB</h2>

        <p><em>v.1.0</em></p>

    {# sort translation messages in groups #}
    {% set messages_defined, messages_missing, messages_fallback = [], [], [] %}
    {#{% for message in collector.data.translations %}#}
        {#{% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}#}
            {#{% set messages_defined = messages_defined|merge([message]) %}#}
        {#{% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}#}
            {#{% set messages_missing = messages_missing|merge([message]) %}#}
        {#{% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}#}
            {#{% set messages_fallback = messages_fallback|merge([message]) %}#}
        {#{% endif %}#}
    {#{% endfor %}#}

    {#todo : ...#}

    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">
                Defined
                {#<span class="badge">#}
                    {#{{ messages_defined|length }}#}
                {#</span>#}
            </h3>

            <div class="tab-content">
                <p class="help">
                    These messages are correctly translated into the given locale.
                </p>

                {% for domain, messages in collector.data.translations_found %}
                    {{ dump(domain) }}
                    {{ dump(messages) }}
                {% endfor %}

                {#{% if messages_defined is empty %}#}
                    {#<div class="empty">#}
                        {#<p>None of the used translation messages are defined for the given locale.</p>#}
                    {#</div>#}
                {#{% else %}#}
                    {#{{ helper.render_table(messages_defined) }}#}
                {#{% endif %}#}

            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">
                Fallback
                {#<span class="badge">#}
                    {#{{ messages_fallback|length }}#}
                {#</span>#}
            </h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale
                    but Symfony found them in the fallback locale catalog.
                </p>

                {% for domain, messages in collector.data.translations_fallback %}
                    {{ dump(domain) }}
                    {{ dump(messages) }}
                {% endfor %}

                {#{% if messages_fallback is empty %}#}
                    {#<div class="empty">#}
                        {#<p>No fallback translation messages were used.</p>#}
                    {#</div>#}
                {#{% else %}#}
                    {#{{ helper.render_table(messages_fallback) }}#}
                {#{% endif %}#}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">
                Missing
                {#<span class="badge">#}
                    {#{{ messages_missing|length }}#}
                {#</span>#}
            </h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale and cannot
                    be found in the fallback locales. Add them to the translation
                    catalogue to avoid Symfony outputting untranslated contents.
                </p>

                {% for domain, messages in collector.data.translations_missing %}
                    {{ dump(domain) }}
                    {{ dump(messages) }}
                {% endfor %}

                {#{% if messages_missing is empty %}#}
                    {#<div class="empty">#}
                        {#<p>There are no messages of this category.</p>#}
                    {#</div>#}
                {#{% else %}#}
                    {#{{ helper.render_table(messages_missing) }}#}
                {#{% endif %}#}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">
                Translations
                <span class="badge">{{ collector.data.translations|length }}</span>
            </h3>

            <div class="tab-content">
                <p class="help">
                    All translations.
                </p>
                {{ dump(collector.data.translations|default("")) }}
            </div>
        </div>

        {#<div class="tab">#}
            {#<h3 class="tab-title">#}
                {#In Database#}
                {#<span class="badge">{{ messages_defined|length }}</span>#}
            {#</h3>#}

            {#<div class="tab-content">#}
                {#<p class="help">#}
                    {#These messages are in databse.#}
                {#</p>#}

                {#{% if messages_defined is empty %}#}
                    {#<div class="empty">#}
                        {#<p>Database empty.</p>#}
                    {#</div>#}
                {#{% else %}#}
                    {#{{ helper.render_table(messages_defined) }}#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}

    </div>

    {#{{ dump(_context) }}#}

    {#<table>#}
        {#<tr>#}
            {#<th>#</th>#}
            {#<th>Query</th>#}
            {#<th>Duration</th>#}
            {#<th>Memory usage</th>#}
        {#</tr>#}

        {#{% for call in collector.data %}#}
            {#<tr>#}
                {#<td>{{ loop.index }}</td>#}
                {#<td>{{ call.query }}</td>#}
                {#<td>{{ call.duration }} ms</td>#}
                {#<td>{{ call.memory_end }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}

{% endblock %}

{% macro render_table(messages) %}
    <table>
        <thead>
        <tr>
            <th>Locale</th>
            <th>Domain</th>
            <th>Times used</th>
            <th>Message ID</th>
            <th>Message Preview</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td class="font-normal text-small">{{ message.locale }}</td>
                <td class="font-normal text-small text-bold">{{ message.domain }}</td>
                <td class="font-normal text-small">{{ message.count }}</td>
                <td>
                    {{ message.id }}

                    {% if message.transChoiceNumber is not null %}
                        <small class="newline">(pluralization is used)</small>
                    {% endif %}

                    {% if message.parameters|length > 0 %}
                        <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</button>

                        <div id="parameters-{{ loop.index }}" class="hidden">
                            {% for parameters in message.parameters %}
                                {{ profiler_dump(parameters) }}
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>{{ message.translation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}